{
  "env": {
    "commonjs": true
  },
  "globals": {
    "Cookies": true
  },
  "rules": {
    "curly": "error",
    "eqeqeq": "error",
    "no-unused-expressions": "error",
    "new-cap": "error",
    "no-caller": "error",
    "no-irregular-whitespace": "error",
    "no-undef": "error",
    "no-unused-vars": "error",
    "comma-style": ["error", "last"],
    "eol-last": "error",
    "semi": ["error", "always"],
    "keyword-spacing": ["error", {}],
    "spaced-comment": ["error", "always", {"exceptions": ["!"]}],
    "space-before-blocks": ["error", "always"],
    "key-spacing": ["error", {"afterColon": true}],
    "indent-legacy": ["error", "tab", {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "array-bracket-spacing": ["error", "never", {}],
    "space-in-parens": ["error", "never"],
    "no-trailing-spaces": "error",
    "no-array-constructor": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error"
  }
}
