{
  "extends": "../.eslintrc",
  "env": {
    "browser": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": "error"
  }
}
